@import '~styles/colors.scss';

.dark {
  background: $black;
  border: 0.125rem solid $white;
}

.light {
  background: $white;
  border: 0.125rem solid $black;
}

.switchCheckbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switchLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 3.2rem;
  height: 1.6rem;
  border-radius: 6.25rem;
  position: relative;
  transition: background-color 0.3s;
}

.switchLabel .switchButton {
  position: absolute;
  top: -0.125rem;
  left: -0.125rem;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 2.8rem;
  transition: 0.3s;
}

.switchCheckbox:checked + .switchLabel .switchButton {
  left: calc(100% + 2px);
  transform: translateX(-100%);
}

.switchLabel:active .switchButton {
  width: 2.2rem;
}
