@import '~styles/colors.scss';

.banner {
  display: flex;
  justify-content: center;
  gap: 4rem;
  align-items: center;
  padding: 2rem;
  background: linear-gradient(
    253deg,
    #121212 11.77%,
    rgba(36, 121, 64, 0) 91.12%
  );
}

.bannerTitle {
  background: $primary;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 6rem;
  text-align: right;
  margin: 0;
}

.bannerText {
  text-align: right;
  font-size: 1.5rem;
  font-weight: 300;
}

.bannerLogo {
  width: 18.75rem;
}
